doctype html
html
  head
    script(src='https://code.jquery.com/jquery-3.6.4.js' integrity='sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=' crossorigin='anonymous')
    script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js' integrity='sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
    script(src='/javascripts/RoomPage/main.js')
    script(src='/socket.io/socket.io.js')
    script(src="/javascripts/Utils/postRedirect.js") 
    script(src='/javascripts/Utils/PacketBuilder.js')
    script(src="/javascripts/Utils/verify.js") 
    script(src='/javascripts/RoomPage/Events/SocketEvent.js')
    script(src='/javascripts/RoomPage/Events/PlayerJoinEvent.js')
    script(src='/javascripts/RoomPage/Events/JoinRoomRespondEvent.js')
    script(src='/javascripts/RoomPage/Events/GameStartEvent.js')
    script(src='/javascripts/RoomPage/Events/ExitEvent.js')
    script(src='/javascripts/RoomPage/Events/RoomDissolveEvent.js')
    script(src='/javascripts/RoomPage/initEvents.js')
    title 文字框範例
    style.
      .loader {
      border: 16px solid #f3f3f3; /* 灰色邊框 */
      border-top: 16px solid #3498db; /* 藍色邊框 */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite; /* 動畫設定 */
      margin: 0 auto;
      margin-top: 50px;
      }
      @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
      }
      .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50vh;
      }
      .textbox1 {
      margin-bottom: 15px;
      }
      .textbox {
      margin-bottom: 10px;
      }
      .functionButton{
        width:200px;
        display: flex;
        justify-content: space-around;
      }
  body
    p(style='display:none' id='password') #{v}
    p(style='display:none' id='name') #{myName}
    .loader
    h2(style='text-align: center;') 等待中...
    .container
      input.textbox1(type='text' readonly='' id='roomID' placeholder='房號:' value=roomID) 
      - for (var i=0;i<4;i++)
        input.textbox(type='text' readonly='' id=`name${i+1}` placeholder=`文字框 ${i+1}` value=names[i])
      .functionButton
        input(type='button' id='gameStartButton' readonly='' value="開始遊戲") 
        input(type='button' id='exitButton' readonly='' value='離開房間')  